<section class='flex gap-8 font-bold justify-self-end'>
  <button class='transition-all duration-300 hover:scale-105 hover:text-white'>
    Register
  </button>
  <button
    class='text-black px-8 py-2 bg-white rounded-full transition-all duration-300 hover:scale-105'>
    Log In
  </button>
</section>
